*{padding:0px;margin:0px;}

/*ͷβ��ͬ�ߴ�ռȫ��*/
@media (min-width: 1200px) {
    .container {
        max-width:100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

.my_small{
    font-size: 0.8rem;
}

.header-height{
    width:100%;
    height: 100px;
}
.footer-height{
    width: 100%;
    height:401px;
}

a:hover{text-decoration: none;}
ul{list-style: none;}
    

.dropdown-menu{
    margin-left: 10px;
}

/*滚动条*/
.test {
    width: 50px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 5px;
    border: none;
}

.scrollbar {
    width: 30px;
    height: 300px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}
