
 footer ul{height: 160px;} 

.container div ul a{
    text-decoration: none;
    color: black;
}


.breadcrumb{
    height: 100px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}

.bg-color{background:#e9ecef;}
